.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
}

.game-area {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: antiquewhite;
  padding: 0;
  align-items: flex-end;

}
.button-area {
  width: 100%;
  height: 20%;
  position: relative;
  padding: 1rem;
}
.btn-start {
  padding: 1rem;
  background-color: orange;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.attack {
  position: absolute;
  top: -30px;
  color: black;
}